<mat-sidenav-container>
  <mat-sidenav mode="side" #sideNav [(opened)]="OpenSideNav">
    <h2 class="sideNav-title">{{ title }}</h2>
    <ul class="Links">
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
      <li>Link 4</li>
      <li>Link 5</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="main-nav">
      <div class="brand">
        <i (click)="OpenSideNav = !OpenSideNav" class="fas icon fa-bars"></i>
        <h2 class="title">Equity Data Science</h2>
      </div>
    </nav>
    <div class="app-login"></div>
    <marquee behavior="alternate" scrollamount="10" class="appeal text-success"
      >Please use EDS@gmail.com as e-mail and 123456789 as password😍</marquee
    >
  </mat-sidenav-content>
</mat-sidenav-container>
